<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--     <link rel="shortcut icon" href="/favicon.png"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <style type="text/css">
      #sidebar .heading{
        background-color:#0449AF;
        color:white;
        padding:15px;
        padding-left:20px;
        text-shadow: 1px 0px 1px black;
      }
      #sidebar .content{
        padding:5px;
        margin-left:10px;
      }
      .modal-header-override{
        background-color:#000000 !important; 
        color:white !important; 
        font-family: 'Droid Sans', sans-serif;
        border-radius:4px 4px 0px 0px !important; 
        text-shadow:0px 0px 0px #002240 !important;
      }
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQPtyARroTFZaEuW4ErvL1YYqgGqFbJJY"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/mapUI.js"></script>
    <script src="/vendors/ubilabs/kdTree-min.js"></script>

  </head>
<body>
  <div id="map-canvas"></div>
  
<!-- Setup Dialog -->
<div class="modal fade" id="modal_setup" tabindex="-1" role="dialog" aria-labelledby="modal_setupLbl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-override">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modal_setupLbl">Setup an OADA connection</h4>
      </div>

      <div class="modal-body">

        <div class="input-group">
          <span class="input-group-addon">Base Provider URL</span>
          <input type="text" class="form-control" placeholder="https://oada.domain.com">
        </div><br>
        <div class="input-daterange input-group" id="datepicker">
            <span class="input-group-addon">Time Range</span>
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control date-nofill" name="end" placeholder="Leave blank if no time limit" value=""/>
        </div>
        <br>
        <div class="input-group ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option1" autocomplete="off"> 1x
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off"> 2x
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> 4x
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> 8x
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> 16x
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> 20 fps*
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option3" autocomplete="off" checked=""> 40 fps*
            </label>
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="startWorker()">Start</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
